<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="<%= path === '/users/shop' ? 'active' : '' %> " href="/users/shop">Shop</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/products' ? 'active' : '' %> " href="/users/products">Products</a>
                </li>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %> " href="/users/cart">Cart</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %> " href="/admin/products">Admin Products</a>
                </li>
        </ul>
    </nav>
</header>