.form-control label,
.form-control input,
#submit-button {
    display: block;
    margin: 2px 0xp;
}

.form-control input {
    border: 1px solid #c94d4d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 2px;
}

#submit-button {
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    padding: 12px;
}